<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">PROJECT MANAGER</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        
        @if (authService.isInitialized()) {
          @if (authService.isLoggedIn()) {
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
          }
          @if (authService.currentUser()?.role === 'Admin') {
            <li class="nav-item">
              <a class="nav-link" routerLink="/users" routerLinkActive="active">
                <i class="bi bi-people-fill"></i> Users
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/activity-logs" routerLinkActive="active">
                <i class="bi bi-journal-text"></i> Logs
              </a>
            </li>
          }
        }
      </ul>

      <div class="d-flex align-items-center gap-2">
      @if (authService.isInitialized()) {  
        @if (authService.isLoggedIn()) {
            
            <span class="text-light me-2">
                Welcome, <strong>{{ authService.currentUser()?.firstName }}</strong>
            </span>
            
            <button class="btn btn-outline-danger btn-sm" (click)="onLogout()">
                Logout
            </button>

        } 
        @else {
            
            <a routerLink="/login" class="btn btn-outline-light btn-sm">Login</a>
            <a routerLink="/register" class="btn btn-primary btn-sm">Register</a>
            
        }
      }

      </div>
    </div>
  </div>
</nav>